doctype html
html
  head
    title Join the #{community} community on Slack!
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css')
    style.
      body {
        padding-top: 20px;
      }

      input {
        font-size: 24px;
        width: 400px;
        margin-top: 1em;
      }

      #footer {
        margin-top: 60px;
      }

      #footer .container {
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: center;
        font-size: 0.8em;
        padding-top: 15px;
        padding-bottom: 30px;
      }

      #footer a {
        text-decoration: none;
      }
  body
    div(class='container')
      h1 Join the #{community} community on Slack!
      form(method="POST", action="/invite")#join-form
        input(type="text", name="email", placeholder="Enter your email")#slack-email
        br
        p.
          Your email will not be used for any purpose beyond sending you a Slack invite, pinky swear.
        br
        input(type="submit", value="Submit", class="btn btn-primary")

      script.
        var form = document.getElementById('join-form');
        var email = document.getElementById('slack-email')
        form.addEventListener('submit', function(evt) {
          if (!email.value) {
            evt.preventDefault();
          }
        });
    div(id='footer', style='display: block;')
      div(class='container')
        p(class='credit')
          | Brought to you by 
          a(href='http://www.spantree.net') Spantree, LLC
        
        a(href='http://www.spantree.net')
          img(src='/images/spantree-logo.png', style="max-width: 140px")
